*{
  box-sizing: border-box;
}
body{
  background-image: url("round.png");
}
.App{
  margin-left: 1em;
}
h1, h2{
  font-family: 'Monoton', cursive;
}
h2 {
  font-weight: 300;
  color: rebeccapurple;
}
.main-title{
  text-shadow: 2px 2px rgb(255, 140, 140);
  color: blue;
  font-size: 3.4em;
  font-weight: 400;
}
.sort-buttons{
  margin: 0 0 2em 0;
  font-size: 0.7em;
}
.sort-button{
  background: none;
  color: blue;
  margin: 0 0.8em;
  border: 1px solid;
  font-size: 1em;
  padding: 0.6em 1em;
}
.sort-button.active{
  font-weight: bold;
  border: 2px solid;
}
.quote{
    max-width: 800px;
    position: relative;
    margin-bottom: 3.8em;
}
.quote-content{
  max-width: 700px;
  font-family: 'Marck Script', cursive;
  font-weight: 200;
  font-size: 2em;
  margin: 0.4em 0;
}
.quote-content::before{
  content: open-quote;
  font-size: 1.2em;
  color: grey;
}
.quote-content::after{
  content: close-quote;
  font-size: 1.2em;
  color: grey;
}
.quote-author{
  text-align: right;
  margin-right: 3em;
  margin-top: -1em;
  color: darkblue;
}
.quote-author::before{
  content: '- ';
}
.quote-button{
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: grey;
  padding: 0;
  font-size: 1.2em;
}
.quote-button:hover{
  cursor: pointer;
  color: red;
}
#quote-edit{
  font-size: 0.9em;
  right: 1.8em;
  top:2px;
}
#quote-edit:hover{
  color: blue;
}
.quote-adder{
  margin: 2em 0;
}
.quote-adder form {
  max-width: 800px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 4fr 1fr;
}
label{
  grid-column: 1 / 2;
  line-height: 3em;
  margin-left: 2em;
  font-weight: bold;
}
.quote-adder input{
  padding-left: 1em;
  width: 100%;
}
#submitted-quote{
  grid-column: 2/4;
}
#submitted-quote-name{
  grid-column: 2/3;
}
input[type=submit], #cancel-edit{
  background: white;
  color: blue;
  border: 2px solid blue;
}
.quote-editor{
  z-index: 100;
  position: absolute;
  top: 10px;
  box-shadow: 5px 5px 800px 600px rgba(128, 128, 128, 0.45);
}
#edit-quote-submit, #cancel-edit{
  padding: 2.6em;
}
.quote-editor input[type=text]{
  width:460px;
  padding: 2.6em;
}
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}
summary:hover{
  cursor: pointer;
}
@media screen and (min-width: 1451px) {
  .quote-adder{
    position: fixed;
    top: 0;
    right: 1em;
    width: 600px;
  }
  .quote-adder form{
    min-width: 600px;
  }
}
@media screen and (max-width: 1450px){
  .App{
    max-width: 900px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 720px){
  .quote-button, #quote-edit{
    top:-8px;
  }
  .quote-editor input[type=text]{
    width:100vw;
  }
  #edit-quote-submit, #cancel-edit{
    width:50vw;
  }
}
