*{
  box-sizing: border-box;
}
.App{
  margin-left: 1em;
}
h1, h2{
  font-family: 'Monoton', cursive;
}
h2 {
  font-weight: 300;
}
.sort-buttons{
  margin: 0 0 2em 0;
  font-size: 0.7em;
}
.sort-button{
  background: none;
  color: blue;
  margin: 0 0.8em;
  border: 1px solid;
  font-size: 1em;
  padding: 0.6em 1em;
}
.sort-button.active{
  font-weight: bold;
  border: 2px solid;
}
.quote{
    max-width: 800px;
    position: relative;
    margin-bottom: 1.8em;
}
.quote p {
  margin: 0.4em 0;
}
.quote-content{
  max-width: 700px;
  font-family: 'Marck Script', cursive;
  font-weight: 200;
  font-size: 2em;
}
.quote-content::before{
  content: open-quote;
  font-size: 1.2em;
  color: grey;
}
.quote-content::after{
  content: close-quote;
  font-size: 1.2em;
  color: grey;
}
.quote-author{
  text-align: right;
  margin-right: 3em;
  margin-top: -1em;
}
.quote-author::before{
  content: '- ';
}
.quote-delete{
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 1.4em;
  color: grey;
}
.quote-delete:hover{
  cursor: pointer;
}
.quote-adder{
  margin: 2em 0;
}
@media screen and (min-width: 1451px) {
  .quote-adder{
    position: fixed;
    top: 0;
    right: 1em;
  }
  form{
    min-width: 600px;
  }
}
@media screen and (max-width: 1450px){
  .App{
    width: 900px;
    margin: 0 auto;
  }
}
form {
  max-width: 800px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 4fr 1fr;
}
label{
  grid-column: 1 / 2;
  line-height: 3em;
  margin-left: 2em;
  font-weight: bold;
}
input{
  padding-left: 1em;
  width: 100%;
}
#submitted-quote{
  grid-column: 2/4;
}
#submitted-quote-name{
  grid-column: 2/3;
}
input[type=submit]{
  background: none;
  border: 1px solid black;
  /*grid-row: 3;*/
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}
summary:hover{
  cursor: pointer;
}
.quote summary::before{
  content: '+';
  padding-right: 1em;
}
