*{
  box-sizing: border-box;
}
.App{
  margin-left: 1em;
}
h1, h2{
  font-family: 'Monoton', cursive;
}
.quote{
    max-width: 800px;
    position: relative;
}
.quote-content{
  max-width: 700px;
  font-family: 'Marck Script', cursive;
  font-weight: 200;
  font-size: 2.2em;
  letter-spacing: 1.2;
}
.quote-content::before{
  content: open-quote;
  font-size: 1.2em;
  color: grey;
}
.quote-content::after{
  content: close-quote;
  font-size: 1.2em;
  color: grey;
}
.quote-author{
  text-align: right;
  margin-right: 3em;
}
.quote-author::before{
  content: '- ';
}
.quote-delete{
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 1.4em;
  color: grey;
}
.quote-delete:hover{
  cursor: pointer;
}
.quote-adder{
  margin: 2em 0;
}
form {
  max-width: 800px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 4fr 1fr;
}
label{
  grid-column: 1 / 2;
  line-height: 3em;
  margin-left: 2em;
  font-weight: bold;
}
input{
  padding-left: 1em;
  width: 100%;
}
#submitted-quote{
  grid-column: 2/4;
}
#submitted-quote-name{
  grid-column: 2/3;
}
input[type=submit]{
  background: none;
  border: 1px solid black;
  /*grid-row: 3;*/
}
